<%= form_for(workshop) do |f| %>
  <% if workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workshop.errors.count, "error") %> prohibited this workshop from being saved:</h2>

      <ul>
      <% workshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :widget_embed %>
    <%= f.text_field :widget_embed, class: 'form-control' %>
  </div>


  <div class="form-group">
    <%= f.label :webinar_embed %>
    <%= f.text_field :webinar_embed, class: 'form-control' %>
  </div>

  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
