<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="background-color: #4fc090; color: #fff; padding: 20px 0; margin-top: -20px;">
      <div class="container">
      <% if current_user.sign_in_count > 1 %>
        <h2>Welcome back, <%= current_user.first_name %>!</h2>
      <% else %>
        <h2>Hi <%= current_user.first_name %>, welcome to The Black &amp; Whites!</h2>
      <% end %>
      </div>  
    </div>
  </div>

  <div class="row">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
          <div class="navbar-header">
            <span class="navbar-brand">DASHBOARD</span>
          </div>

          <div class="collapse navbar-collapse" id="dashnav">
            <ul class="nav navbar-nav">

              <% if current_user.admin? %>
                <li><%= link_to "View all #{@mymembers} users", users_path %></li>
              <% end %>

              <li class="nav_profile_settings"><%= link_to "Profile Settings", edit_user_registration_path %></li>

              <li class="dropdown nav_billing">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Billing <b class="caret"></b></a>
                <ul class="dropdown-menu">
              <li><%= link_to "Update Billing Details", dashboard_billing_path %></li>
              <li><%= link_to "Payment History", dashboard_invoices_path %></li>
              </ul></li>

              <li class="nav_questions"><%= link_to "Your Questions", dashboard_your_questions_path %></li>
            </ul>
          </div>

      </div>
    </nav>
  </div>

</div>

<div class="container">
  <div class="row">