<%= form_for(calender) do |f| %>
  <% if calender.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calender.errors.count, "error") %> prohibited this calender from being saved:</h2>

      <ul>
      <% calender.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :month %>
    <%= f.text_field :month %>
  </div>

  <div class="field">
    <%= f.label :intro %>
    <%= f.text_area :intro %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
