 

    <div style="background-color: #111111; margin-top: -20px;">
      <div class="container">
      <div class="row">
      <div class="col-md-12" style="padding-top:0px;">
      
      <% if @hack.members_only == true %>
        <% if user_signed_in? && current_user.suspended == false %>
          <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src="https://player.vimeo.com/video/<%= @hack.video_embed_code %>" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <% else %>
          <div style="padding: 250px 0; text-align: center; background-image: url('https://res.cloudinary.com/theblackandwhites/image/upload/v1497747143/bnw/assets/image060.gif'); background-color: rgba(0,0,0,.5);">
            <h1 style="color: #fff;">Sorry, this video is only available for our members, please sign up to gain access.</h1>
            <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-lg btn-rose btn-rounded" %>
          </div>  
        <% end %>
      <% else %>
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src="https://player.vimeo.com/video/<%= @hack.video_embed_code %>" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
      <% end %>

         
         

 
      </div>
      </div>
      </div>
    </div>


<div class="container">
  <div class="row">

      <div class="col-md-4">
        <h3 class="title"><%= @hack.title %></h3>
        <h5 class="description"><%= @hack.description %></h5>
        <hr>
        <h4 class="title">Related links and resources</h4>
        <h5 class="description">

        <% if @hack.members_only == true && current_user.suspended == false %>
        <% if user_signed_in? %>
          <%= @hack.links %>
        <% else %>
           <%= link_to "SIGN UP TO VIEW RESOURCES", new_user_registration_path, class: "btn btn-lg btn-rose btn-rounded" %>
        <% end %>
      <% else %>
        <%= @hack.links %>
      <% end %>

          
        </h5>
        <div class="section-space"></div>
      </div>

      <div class="col-md-8">
        
        


        <!--COMMENTS GO HERE-->
        <div style="background-color: #f5f5f5; padding: 10px; border-radius: 10px; margin: 20px 0; max-height: 1000px; overflow-y: scroll;">
        <% if user_signed_in? && current_user.suspended == false %>
        <h3 class="text-center"><%= current_user.first_name%>, would you like to say something?</h3>
        <div class="media media-post">
            <span class="pull-left author">
                        <div class="avatar-med">
                          <%= render 'layouts/avatar' %>
                        </div>
                    </span>
            <div class="media-body">
           
                  <%= form_for(@comment) do |f| %>

                    <div class="form-group">
                      <%= f.text_area :body, placeholder: "It's hard to film yourself, be kind... leave your comments here.", rows: "2", class: "form-control", maxlength: "125" %>
                    </div>

                      <%= f.hidden_field :user_id, value: current_user.id %>

                      <%= f.hidden_field :hack_id, value: @hack.id %>
                    
                    <div class="media-footer">
                      <%= f.submit "Post a Comment", class: "btn btn-primary btn-wd pull-right" %>
                    </div>
                  <% end %>
                  
            </div>
        </div> <!-- end media-post -->
        <% end %>
        
    <% if user_signed_in? && current_user.suspended == false %>
      <% @comments.each do |comment|%>
        
        <div class="media">
        <hr>
          <span class="pull-left author">
              <div class="avatar-med-sm">
                <% if comment.user.avatar? %>
                  <%= cl_image_tag(comment.user.avatar.path, { size: '250x250', crop: :thumb, gravity: :face }) %>
                <% else %>
                  <%= cl_image_tag("bnw/assets/84238.jpg") %>
                <% end %>
              </div>
          </span>

          <div class="media-body">
           
          
            <h4 class="media-heading" style="font-size: 14px;"><%= comment.user.first_name %> <%= comment.user.last_name %> <small>&middot; <%= time_ago_in_words(comment.created_at) %> ago</small></h4>

            <% if comment.user_id == current_user.id %>
              <%= link_to comment, :method => :delete, :remote => true, class: "pull-right delete_comment" do %>
                <i class="material-icons" style="color: #9b0017">close</i>
              <% end %>
            <% end %>

            <div style="margin-bottom: 20px; padding-right: 20px;"><p><%= comment.body %></p></div>

            <div class="row">
              <div class="col-md-8 col-md-offset-3" style="background-color: #fcfcfc; padding: 5px 15px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;">
 
                <% if user_signed_in? %>
                <%= form_for(@reply) do |f| %>
                
                  <div class="row">
                  <div class="col-md-10">
                    <div class="form-group" style="margin: 0">
                      <%= f.text_area :body, placeholder: "Reply to this comment.", rows: "1", class: "form-control", maxlength: "125" %>
                    </div>
                  </div>

                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :comment_id, value: comment.id %>
                    <%= f.hidden_field :hack_id, value: @hack.id %>
                  
                  <div class="col-md-2">
                    <%= f.submit "Reply", class: "btn btn-success btn-sm btn-wd pull-right" %>
                  </div>
                  </div>

                <% end %>
                <% end %>
              </div>
            
            
              <% @replies = Reply.where(hack_id: @hack.id).where(comment_id: comment.id).all.order(created_at: :desc) %>
              <% @replies.each do |reply| %>
              <div class="col-md-8 col-md-offset-3" style="background-color: #e8eeef; border-bottom: 1px solid #f5f5f5; padding-top: 10px;">
                <div class="media">
                  <span class="pull-left author">
                    <div class="avatar-sm">
                      <% if reply.user.avatar? %>
                        <%= cl_image_tag(reply.user.avatar.path, { size: '250x250', crop: :thumb, gravity: :face }) %>
                      <% else %>
                        <%= cl_image_tag("bnw/assets/84238.jpg") %>
                      <% end %>
                    </div>
                  </span>

                  <div class="media-body">
                    <h4 class="media-heading" style="font-size: 14px;"><%= reply.user.first_name %> <%= reply.user.last_name %> <small>REPLIED &middot; <%= time_ago_in_words(reply.created_at) %> ago</small></h4>

                    <% if reply.user_id == current_user.id %>
                      <%= link_to reply, :method => :delete, :remote => true, class: "pull-right delete_reply" do %>
                        <i class="material-icons" style="color: #9b0017">close</i>
                      <% end %>
                    <% end %>

                    <p style="font-size: 12px;"><%= reply.body %></p>
                  </div>
                </div>
              </div>
              <% end %>
            
              <div class="col-md-8 col-md-offset-3" style="-webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; background-color: #e8eeef; height: 10px;">
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

    <div class="row">
    <div class="col-md-12">
      <!-- Tabs on Plain Card -->
      <div class="card card-nav-tabs card-plain">
        <div class="header header-rose">
          <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#all" data-toggle="tab">MORE Video Hacks</a></li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="card-content">
          <div class="tab-content text-center">
            <div class="tab-pane active" id="all">
            <% @hacks.each do |hack|%>
              <%= render 'hacks/hack_cards', :hack => hack %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
      <!-- End Tabs on plain Card -->
    </div>
    </div>

    




    </div>
</div>
