<div class="page-header header-filter" filter-color="purple" style="background-image: url('http://res.cloudinary.com/theblackandwhites/image/upload/v1497345579/bnw/assets/values.005.jpg'); background-size: cover; background-position: top center;">
      <div class="container">
      <div class="row">

          <div class="card card-signup">
                        
                        <div class="row" >
                            <div class="col-md-5 col-md-offset-1">
                      <div class="info info-horizontal">
                        <div class="icon icon-rose">
                          <i class="material-icons">cast</i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Wingman Workshops</h4>
                          <p class="description">
                           You're just minutes away from gaining access to our weekly wingman workshops. Live video and chat systems that allow you to get all of your questions answered.
                          </p>
                        </div>
                          </div>

                      <div class="info info-horizontal">
                        <div class="icon icon-primary">
                          <i class="material-icons">movie_creation</i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Weekly DIY Hack Videos</h4>
                          <p class="description">
                            Learn all the skills you need to tackle the practical side of marketing, quickly and effectively. Never rely on a third party ever again.
                          </p>
                        </div>
                      </div>

                      <div class="info info-horizontal">
                        <div class="icon icon-info">
                          <i class="material-icons">headset_mic</i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Jam Packed with Support</h4>
                          <p class="description">
                            Can't see the bright side? We're happy to sit with you in the dark and work on a way out together.
                          </p>
                        </div>
                      </div>
                    </div>
                     

          
                <h3 class="card-title text-center">Start your $1 trial</h3>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <div class="card-content">
                    <div class="input-group">
                      <%= devise_error_messages! %>
                    </div>
                    

                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">face</i>
                      </span>
                      <div class="col-md-6"><%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "First Name" %></div>
                      <div class="col-md-6"><%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %></div>
                      
                      
                    </div>



                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">email</i>
                      </span>
                      <div class="col-md-12">
                      <%= f.email_field :email, class: "form-control", placeholder: "Your Email" %>
                      </div>
                    </div>

                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">lock_outline</i>
                      </span>
                      <div class="col-md-12">
                      <%= f.password_field :password, autocomplete: "off", placeholder: "Password...", class: "form-control" %>
                      </div>
                      
                    </div>

                    <div class="checkbox text-center">
                      <label>
                        <input type="checkbox" name="optionsCheckboxes" checked>
                        I agree to the <a href="#something">terms and conditions</a>.
                      </label>
                    </div>
                  </div>
                  <div class="footer text-center">
                    <%= f.submit "Let's Get Started", class: "btn btn-primary btn-round" %>

                  </div>

                  <div style="margin-top: 40px; " class="text-center">
                      <%= link_to "Already a member - Sign In", new_user_session_path %>
                  </div>

              

                <% end %>

                            </div>
                        </div>
                  </div>

                </div>
            </div>
    </div>

  


