<div class="page-header header-filter" filter-color="purple" style="background-image: url('https://res.cloudinary.com/theblackandwhites/image/upload/v1497345579/bnw/assets/values.005.jpg'); background-size: cover; background-position: top center;">
      <div class="container">
      <div class="row">

          <div class="card card-signup">
                        
            <div class="row " >
              <div class="col-md-5 col-md-offset-1 hidden-sm  hidden-xs">
                  <div class="info info-horizontal">
                    <div class="icon icon-rose">
                      <i class="material-icons">cast</i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Wingman Workshops</h4>
                      <p class="description ">
                       You're just minutes away from gaining access to our weekly wingman workshops. Live video and chat systems that allow you to get all of your questions answered.
                      </p>
                    </div>
                      </div>

                  <div class="info info-horizontal">
                    <div class="icon icon-primary">
                      <i class="material-icons">movie_creation</i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Weekly DIY Hack Videos</h4>
                      <p class="description">
                        Learn all the skills you need to tackle the practical side of marketing, quickly and effectively. Never rely on a third party ever again.
                      </p>
                    </div>
                  </div>

                  <div class="info info-horizontal">
                    <div class="icon icon-info">
                      <i class="material-icons">headset_mic</i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Jam Packed with Support</h4>
                      <p class="description">
                        Can't see the bright side? We're happy to sit with you in the dark and work on a way out together.
                      </p>
                    </div>
                  </div>
                </div>
                     

          
                <h3 class="card-title text-center">Start your $1 trial</h3>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <div class="card-content">
                    <div class="input-group">
                      <%= devise_error_messages! %>
                    </div>
                    

                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">face</i>
                      </span>
                      <div class="col-md-6"><%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "First Name" %></div>
                      <div class="col-md-6"><%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %></div>
                      
                      
                    </div>



                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">email</i>
                      </span>
                      <div class="col-md-12">
                      <%= f.email_field :email, class: "form-control", placeholder: "Your Email" %>
                      </div>
                    </div>

                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">lock_outline</i>
                      </span>
                      <div class="col-md-12">
                      <%= f.password_field :password, autocomplete: "off", placeholder: "Password...", class: "form-control" %>
                      </div>
                      
                    </div>

                    <div class="checkbox text-center">
                      <label>
                        <input type="checkbox" name="optionsCheckboxes" checked>
                        I agree to the <a href="#something">terms and conditions</a>.
                      </label>
                    </div>
                  </div>
                  <div class="footer text-center">
                    <%= f.submit "Let's Get Started", class: "btn btn-primary btn-round" %>

                  </div>

                  <div style="margin-top: 40px; " class="text-center">
                      <%= link_to "Already a member - Sign In", new_user_session_path, data: { turbolinks: false } %>
                  </div>

              

                <% end %>

                            </div>
                        </div>
                  </div>

                </div>
            </div>
    </div>

<script>
$(window).load(function(){
        $(".anyClassBtn").on("click",function(){
                $("body").itour({
                        "tourID": "intro_tour",
                        "introShow": true,
                        "tourTitle": "Introductory Tour",
                        "tourMapVisible": true,
                        "lang":{
                                "introTitle": "Hi, I'm Josh!",
                                "introContent": "Let me show you around the place."
                        },
                        "steps": [{
                                "title": "Update your profile settings",
                                "content": "Clicking on this link allows you to keep you profile updated. We'll come back to this so you can finish your profile later.",
                                "name": ".nav_profile_settings",
                                "skip": true
                        },{
                                "title": "Billing & Receipts",
                                "content": "Clicking on this link, you'll be able to see any recent receipts. You'll also be able to update your payment details and deactivate your account.",
                                "name": ".nav_billing",
                                "skip": true
                        },{
                                "title": "All your questions",
                                "content": "When it comes time to ask us a question. You'll see it appear under this link. You'll also see how many responses each question has.",
                                "name": ".nav_questions",
                                "skip": true
                        },{
                                "title": "Find your dashboard",
                                "content": "You can find your dashboard by clicking on your profile picture. Once you finish updating your profile, this image will be replaced with your own.",
                                "name": ".avatar-nav",
                                "skip": true
                        },{
                                "title": "Live wingman workshops",
                                "content": "We'll send you an email when the next Wingman Workshop is on, so keep an eye out for those. Make sure you're logged in first or you won't be able to see the video or ask any questions.",
                                "name": ".nav-wingman",
                                "skip": true
                        },{
                                "title": "Training Ground",
                                "content": "When you feel like learning something new, jump over to our training ground. We'll be adding new videos all the time, but we'll let you know when we add these too!",
                                "name": ".training-nav",
                                "skip": true
                        },{
                                "title": "Ask Away",
                                "content": "This is where you can start asking your questions. If you're having trouble with anything be sure to ask it here. If you're question is sensitive you can mark it as private, and only you and myself can see it. We check all question daily, so you should have an answer to your question nice quick.",
                                "name": ".question-nav",
                                "skip": true
                        },{
                                "title": "Customised Tools",
                                "content": "We are building new tools for our members all of the time. Some of the tools about to be released are website builders, marketing plan generators and graphic designer job portals. Stay tuned for these announcements!",
                                "name": ".tools-nav",
                                "skip": true
                        }]
                });
                return false;
        });
})
</script>
<a class="anyClassBtn" href="#">Start Tour</a>


