<p id="notice"><%= notice %></p>

<p>
  <strong>Chronic string:</strong>
  <%= @event.chronic_string %>
</p>

<p>
  <strong>Calender:</strong>
  <%= @event.calender %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
