
    <div class="page-header" id="particles-js">
        <div class="floating">
	        <div class="container">
	            <div class="row">
					<div class="col-md-7">
						<h1 class="title">Ever thought of hiring your very own marketing wingman?</h1>
	                    <h4>This is your chance to save an easy six figures, by hiring your very own marketing wingman for under $100 a month with no lock in contracts. We're all about support &amp; showing small Australian businesses how to unlock the true power of marketing. <i>Consulting for small Aussie businesses, like you've never seen before.</i></h4>
	                    <br />
						<!-- video modal -->
						<button class="btn btn-success btn-raised btn-lg" data-toggle="modal" data-target="#myModal">
						    <i class="fa fa-play"></i> Watch video
						</button>
					</div>
					<div class="col-md-3 col-md-offset-2">
						<div class="card card-pricing card-raised">
							<div class="card-content">
								<h6 class="category">Become a Member</h6>
								
								<h3 class="card-title">$97/month</h3>
								<p class="card-description">
									<ul>
										<li>Weekly <%= link_to "Wingman Workshops", workshops_path %> <br /><small>(live video Q&amp;A from your own home)</small></li>
										<li><strong style="color: #E91E63;">NEW</strong> Weekly DIY <%= link_to "Hack Videos", hacks_path %></li>	
										<li>24x7 Access to our <%= link_to "Support Forums", questions_path %></li>
										<li>Access our <%= link_to "Customised Tools", root_path %></li>
									</ul>
								</p>
								<%= link_to "30 DAY TRIAL JUST $1", new_user_registration_path, class: "btn btn-rose" %>
							</div>
						</div>
					</div>
	            </div>
          	</div>
        </div>
    </div>

	<div class="main main-raised">
		<div class="container">
	    	<div class="section text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title" style="margin-bottom: 0; padding-bottom: 0">Let's talk value</h2>
                        <h5 style="line-height: 25px; margin-bottom: 40px;">Consulting for small Aussie businesses, like you've never seen before!</h5>
                        <h5 class="description">All members of The Black &amp; Whites unlock exclusive access to weekly DIY hack videos, support forums, weekly wingman workshops &amp; customised tools, that can help you get the most out of your marketing. Think of us as your very own marketing wingman. Someone that you can trust to provide you with the correct skills, knowlege &amp; resources so you can watch your business boom!</h5>
                    </div>
                </div>

				<div class="features">
					<div class="row">
						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-info">
									<i class="material-icons">cast</i>
								</div>
								<h4 class="info-title">Wingman Workshops (Live Video Q&amp;A)</h4>
								<p>Our wingman workshops are hosted weekly via live video forum. Ask your questions in the comfort of your own home and receive live feedback. We host our wingman workshops at least once a week, which means you'll always have an opportunity to overcome any hurdles you may be facing during that week.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-success">
									<i class="material-icons">movie_creation</i>
								</div>
								<h4 class="info-title">Weekly DIY Hack Videos</h4>
								<p>These little DIY hack videos help you tackle the practical side to marketing. I show you how to quickly and easily, create your own website, set up, send and track email campaigns, facebook advertising, google adwords and more. We know as a small business owner, that your time and money is valuable; so these hack videos have been designed so that anyone without any technology background can unlock the true power of marketing. Literally saving yourself and your business thousands.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-danger">
									<i class="material-icons">headset_mic</i>
								</div>
								<h4 class="info-title">Jam Packed with Support</h4>
								<p>Joining The Black &amp; Whites means you unlock 24x7 access to our support forums. Ask your question at anytime of the day or night. We understand that experience is power, so we set up our support forum so that other members of the Black &amp; Whites can help respond to your questions. This way you're gaining knowlege not just from us but from other's who may have overcome similar problems.</p>
							</div>
						</div>
	                </div>
				</div>
            </div>

        	

	<div class="features-4">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="title">How do we make it work for you?</h2>
					<h5 class="description">The Black &amp; Whites was designed so that you can access, learn and engage all within the comfort of your own home. We schedual our workshops weekly, we email you when a new hack video has been released &amp; we make it super easy to access all of our support tools and resources. Technology should be making our lives easier right?</h5>
				</div>
			</div>

			<div class="row">

				<div class="col-md-3 col-md-offset-1">
		           	<div class="info info-horizontal">
						<div class="icon icon-info">
							<i class="material-icons">smartphone</i>
						</div>
						<div class="description">
							<h4 class="info-title">Secure access from any device, anytime.</h4>
							<p>Sit in your PJ's with a glass of wine or lock yourself away in your office with your headphones. Wherever your comfort zone maybe, you'll have easy access to training video's, support and resources. </p>
						</div>
		        	</div>

					<div class="info info-horizontal">
						<div class="icon icon-danger">
							<i class="material-icons">group_add</i>
						</div>
						<div class="description">
							<h4 class="info-title">We're a community</h4>
							<p>Imagine a room full of like minded people, all experiencing the same problems but all learning how to over come them together.</p>
						</div>
					</div>

					<div class="info info-horizontal">
						<div class="icon icon-rose">
							<i class="material-icons">hearing</i>
						</div>
						<div class="description">
							<h4 class="info-title">We actually listen</h4>
							<p>That's right, we actually listen to all your concerns &amp; requests. If there's something you would like to see or learn, we'll work hard to make it possible.</p>
						</div>
					</div>

				</div>

				<div class="col-md-4">
					<div class="phone-container">
						<img src="http://res.cloudinary.com/theblackandwhites/image/upload/v1497507256/bnw/assets/iphone3.png" />
					</div>
				</div>

				<div class="col-md-3">
					<div class="info info-horizontal">
						<div class="icon icon-success">
							<i class="material-icons">school</i>
						</div>
						<div class="description">
							<h4 class="info-title">We invest in you not your business</h4>
							<p>Anyone can tell you what you should be doing. But you're the only one who knows the true ins and outs of your business. We strive to teach you everything there is to know about unlocking and harnessing the true power of marketing for any business. So you never again have to rely on someone else.</p>
						</div>
					</div>

					<div class="info info-horizontal">
						<div class="icon icon-primary">
							<i class="material-icons">trending_up</i>
						</div>
						<div class="description">
							<h4 class="info-title">We are constanly evolving</h4>
							<p>We are growing everyday. Constantly adding training videos &amp; answering your questions. If you send out an SOS, we'll be there. You can count on us for genuine support.</p>
						</div>
					</div>
				</div>
			</div>

	    </div>
 </div>

<div class="container">
 <div class="row">
 <div class="col-md-8 col-md-offset-2 text-center">
			<h2 class="title">Why you should join The Black &amp; Whites</h2>
		</div>

 	<div class="col-md-3">
	 	<div class="card card-plain card-blog">
			<div class="card-image">
				
					<img class="img img-raised" src="http://cdn.mamamia.com.au/wp/wp-content/uploads/2017/04/07233326/couple-finances-MM.jpg" />
			
			</div>

			<div class="card-content">
				<h4 class="card-title">
					You'll save thousands			
				</h4>
				<p class="card-description">
					Hiring a consultant or marketing expert will set you back thousands! For just $97 a month you're likely to spend more on your coffee.
				</p>
			</div>
		</div>
 	</div>

	 	<div class="col-md-3">
		 	<div class="card card-plain card-blog">
				<div class="card-image">
					
						<img class="img img-raised" src="http://zizzl.com/wp-content/uploads/2016/10/winning_culture_kids_race_car.jpg" />
				
				</div>

				<div class="card-content">
					<h4 class="card-title">
						You're investing in yourself			
					</h4>
					<p class="card-description">
						We are providing you with the skills, knowlege and resources so that you can unlock and harness the true power of marketing in any business, regardless of how fast technology is growing.
					</p>
				</div>
			</div>
	 	</div>
	 	<div class="col-md-3">
		 	<div class="card card-plain card-blog">
				<div class="card-image">
					
						<img class="img img-raised" src="http://dailysignal.com/wp-content/uploads/WomanTexting-1250x650.jpg" />
				
				</div>

				<div class="card-content">
					<h4 class="card-title">
						You can do it at home			
					</h4>
					<p class="card-description">
						What better way to learn then in the comfort of your own home. Simply login to your dashboard and start watching our training videos, asking questions or participate in our wingman workshops.
					</p>
				</div>
			</div>
	 	</div>
	 	<div class="col-md-3">
		 	<div class="card card-plain card-blog">
				<div class="card-image">
					
						<img class="img img-raised" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzDG5teYMydS7BEdqQ2gbzOsGxdNxttHlmKr8OZ9J64q-r7AQD" />
				
				</div>

				<div class="card-content">
					<h4 class="card-title">
						We are Australian			
					</h4>
					<p class="card-description">
						Located on the Gold Coast, Australia. We are a business you can confide in, one that you can trust and one that will stick by you.
					</p>
				</div>
			</div>
	 	</div>
 </div>
</div>

<div class="row" style="margin: 100px; padding-bottom: 100px;">
	<div class="col-md-12 text-center">
		<h2 class="title">TRIAL FOR 30 DAYS - JUST $1</h2>
		<h4 class="title">YOU REALLY HAVE NOTHING TO LOSE, <i style="color: #E91E63">SEE YOU ON THE INSIDE!</i></h4>
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-rose btn-round" %>
	</div>
</div>


</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">

				

				<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src="https://player.vimeo.com/video/221980094" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>


				<div class="row">
					<div class="col-md-6" style="margin-bottom: 15px;">
						<h3>Hi, I'm Josh. </h3>
						<h5 style="line-height: 0;">Lead Wingman &amp; Founder</h5>
					</div>
					<div class="col-md-6">
							<%= link_to new_user_registration_path, class: "btn btn-rose btn-lg" do %>
							<i class="material-icons">shopping_cart</i> TRY OUR $1 TRIAL
						<% end %>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">	
						<p><i>"I'm super passionate about marketing, but not in the traditional sence. I like watching the penny drop, when my clients realise that their own marketing can evolve into something that they've never thought possible. I value my knowlege and I'm very excited to share with you everything I know; so that your business can break new ground.</i></p>						
					</div>
					<div class="col-md-6">
						<p> <i>So strap yourself in, you're about to unlock a powerful set of new skills, shortcuts &amp; tactics that can help you and your business grow to heights you never thought imaginable".</i></p>
						<img src="http://res.cloudinary.com/theblackandwhites/image/upload/v1496981868/bnw/assets/signature.png" alt="Josh Edgar" width="50%">
					</div>
				</div>

			</div>

		</div>
	</div>
</div>



<script>
$("#myModal").on('hidden.bs.modal', function (e) {
    $("#myModal iframe").attr("src", $("#myModal iframe").attr("src"));
});
</script>