<div class="col-md-3">



  <div class="card card-plain card-blog">
      <div class="card-image">
          <% if post.thumb? %>
            <%= cl_image_tag(post.thumb.path, { size: '700x600', crop: :thumb, gravity: :face, width: "100%" }) %>
          <% end %>
      </div>
      <div class="card-content">
        <h4 class="card-title">
          <% if post.public == false %>
            <% if user_signed_in? %>
              <%= link_to post.title, post_path(post) %>
            <% else %>
              <%= post.title %>
            <% end %>
          <% else %>
            <%= link_to post.title, post_path(post) %>
          <% end %>    
        </h4>
        <p class="card-description">
          <%= truncate(Rails::Html::FullSanitizer.new.sanitize(post.description), length: 170) %>
        </p>
        <% if post.public == false %>
          <% if user_signed_in? %>
            <%= link_to "Read Post", post_path(post), class: "btn btn-round btn-success" %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-round btn-rose" %>
          <% end %>
        <% else %>
          <%= link_to "Read Post", post_path(post), class: "btn btn-round btn-success" %>
        <% end %>
      </div>
    </div>
  </div>