<footer class="footer" style="background-color: rgba(0,0,0,0); margin-top: 50px;">
	            		<div class="container">
	            			<%= link_to root_path, class: "navbar-brand", style: "margin-top:-5px; font-weight:bold; color: black;" do %>
        		THE BLACK &AMP; WHITES
        		<% end %>


	            			<ul class="pull-center" style="font-size: 11px;">
	            				<li>
						<%= link_to workshops_path do%>
							 Wingman Workshops
						<% end %>
					</li>
					<li>
						<%= link_to hacks_path do%>
							 Video Hacks
						<% end %>
					</li>
					<li>
						<%= link_to questions_path do%>
							Support Forums
						<% end %>
					</li>
					<li>
						<%= link_to tools_and_resources_path do%>
							Customised Tools
						<% end %>
					</li>
	            			</ul>

	            			<div class="pull-right text-right" style=" font-size: 11px;">
	            				
	            			
	            					Trading as B&amp;W Syndicate<br />
									ABN: 32 594 080 753 <br />
								
	            		
	            			</div>

	            		</div>
	            	</footer>