<!DOCTYPE html>
<html>
  <head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MT3WDGR');</script>
<!-- End Google Tag Manager -->

    <title>The Black &amp; Whites - Marketing Consulting for Small Businesses</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  

  <% if current_page?(new_user_registration_path) || current_page?(new_user_session_path) %>
    <body class="signup-page" >
  <% else %>
    <% if current_page?(workshops_path) %>
      <body class="section-white" data-no-turbolink="true">
    <% else %>
      <body class="section-white" >
    <% end %>
  <% end %>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MT3WDGR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <% if current_page?('/') || current_page?(new_user_registration_path) || current_page?(new_user_session_path) || current_page?(new_subscriber_path) || current_page?(tools_and_resources_path)%>
    <%= render 'layouts/nav' %>
  	<% else %>
      <% if user_signed_in? %>

        <% if current_user.suspended? && !current_page?(edit_user_registration_path) %>
          <div class="alert alert-danger" style="position: fixed; z-index: 2; width: 100%;">
            <div class="container-fluid">
              <div class="text-center">
                <div class="alert-icon">
                  <i class="material-icons">error_outline</i>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                </button>
                <b>PAYMENT REQUIRED:</b> Awkward... but unfortunately we had to disable your account until you fix up some billing details. <%= link_to "View Billing Settings", root_path %> 
              </div>
            </div>
          </div>
          <div style="margin-bottom: 40px;">&nbsp;</div>
        <% end %>

        <%= render 'layouts/nav_inner' %>
        
        <% else %>
        <%= render 'layouts/nav_inner_fixed' %>
      <% end %>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>
